body{
    background: #212121;
    color: #666;
}
h1{
    text-align: center;
    color: #fff;
}

menu{
    width: 350px;
    overflow: auto;
    margin: 40px auto;
    background: #666;
    padding-bottom: 40px;
    border-radius: 10px;
    text-align: center;
}

.hexagon {
    position: relative;
    width: 450px;
    height: 779.4228px;
    background: #A52A2A;
    margin: 50px auto;
}
.hexagon::before,
.hexagon::after,
.hexagon::after {
    content: "";
    position: absolute;
    border-bottom: 389.711px solid transparent;
    border-top: 389.711px solid transparent;
}
.hexagon::before {
    right: 100%;
    border-right: 225px solid #A52A2A;
}
.hexagon::after {
    left: 100%;
    border-left: 225px solid #A52A2A;
}

#gameBoard li{
    float: left;
    margin: 0px auto;
    height: 77.942px;
    width: 77.942px;
    font-size: 0px;
    background: #333;
    color: #ccc;
    list-style: none;
    text-align: center;
    border-radius: 50%;
}
#gameBoard li:hover, #reset:hover{
    cursor: pointer;
    background: #000;
}